<div class="post-summary card">
    <h5 class="post-category">{{post.category}}</h5>
    <hr class="post-hr">
    <h4 class="post-title">{{post.title}}</h4>
    <div class="post-meta">
        <ul>
            <li>
              <i class="fa fa-calendar"></i> {{post.published_date}}
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              {{post.content | reading_time }}
            </li>
        </ul>
    </div>
    <img src="{{post.image | relative_url}}" alt="">
    <p>
        {{post.short_content}}
    </p>
    <div class="ta-center read-more">
        <a href="{{post.url | relative_url}}"><strong>READ MORE</strong></a>
    </div>
    <hr class="post-hr">
    <div class="row">
        <div class="five columns post-tags">
            {% for tag in post.tags %}
                <span class="post-tag">{{ tag }}</span>
            {% endfor %}
        </div>
        <!-- <div class="seven columns post-share">
            <div class="social">
                {% for tag in post.tags %}
                    <span>{{ tag }}</span>
                {% endfor %}
            </div>
        </div> -->
    </div>
</div>